@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    // text-transform: capitalize;
    transition: .2s linear;
}

$blue:#145EBD;
$black:#10221b;
$white:#fff;
$light-bg:#eee;
$border:.2rem solid $black;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;



    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background: $white;
    }

    &::-webkit-scrollbar-thumb{
        background: $black;
    }
}

/* Section slider */
section{
    padding: 5rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    border: 2px solid $blue;
    color: $white;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1rem 3rem;

    &:hover{
        background-color: $blue;

    }
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
    color: $black;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem 3%;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: $white;

    &.active{
        // background-color: 
        box-shadow: $box-shadow;
        border-bottom: 1px solid $blue;
    }

    .logo{
        margin-right: auto;

        img{
            width: 9.5rem;
        }
    }

    .navbar{
        ul{
            display: flex;
            text-align: end;
            text-decoration: none;
            list-style: none;
            li{
                &:hover{
                    .proyecto-items{
                        display: block;
                    }
                }
            }
        }
        a{
            margin-left: 2rem;
            font-size: 1.8rem;
            color: $black;

            &:hover{
                padding: 1rem;
                background-color: $blue;
                color: $white;
            }
        }

        #nav-close{
            font-size: 2.5rem;
            cursor: pointer;
            color: $black;
            display: none;
        }
    }



    .icons div{
        font-size: 3rem;
        margin-left: 2rem;
        cursor: pointer;
        color: $black;

        &:hover{
            color: $blue;
        }
    }


    #menu-btn{
        display: none;
    }
}


/* ======= Search form ======= */

.search-form{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transform: translateY(-110%);

    &.active{
        transform: translateY(0%);
    }

    #close-search{
        position: absolute;
        top: 1.5rem;
        right: 2.5rem;
        cursor: pointer;
        color: $white;
        font-size: 5rem;

        &:hover{
            color: $blue;
        }
    }

    form{
        width: 70rem;
        margin: 0 2rem;
        padding-bottom: 2rem;
        border-bottom: .2rem solid $white;
        display: flex;
        align-items: center;

        input{
            width: 100%;
            font-size: 2rem;
            color: $white;
            text-transform: none;
            background: none;
            padding-right: 2rem;

            &::placeholder{
                color: #aaa;
            }
        }


        label{
            font-size: 2rem;
            cursor: pointer;
            color: $white;
            
            &:hover{
                color: $blue;
            }
        }
    }

}


// section slider
.home{
    padding: 0;

    .box{
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover !important;
        background-position: center !important;
        justify-content: flex-end;
        padding: 2rem 9%;

        &.second{
            justify-content: flex-start;
        }

        .content{
            width: 60rem;
            // background-color: rgba(0,0,0,.5);
            border-radius: 1rem;
            padding: 2rem;
            margin-top: 10em;
            margin-bottom: -3rem;
            margin-left: -3rem;

            span{
                font-size: 3rem;
                color: $white;

                &:hover{
                    background-color: $blue;
                    color: $white;
                    padding: .5rem;
                }
            }

            h3{
                font-size: 5rem;
                color: $blue;
                // background-color: $white;
                // padding-top: .5rem;
                text-transform: uppercase;
            }

            p{
                line-height: 2;
                color: $light-bg;
                font-size: 1.5rem;
                padding: 1rem 0;
            }
        }
    
    }
}


// slider ======== 
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 3rem;
    // color: ;
}


// categorias =========
.category{
    background-color: $white;
    .box-container{
        @include grid(32rem);

        .box{
            text-align:center;
            padding: 1rem;

            img{
                height: 20rem;
                width: 25rem;
                border-radius: 20%;
                margin-bottom: 1rem;
            }

            h3{
                font-size: 2.4rem;
                color: $blue;
                margin-bottom: 0.5rem;
            }

            p{
                font-size: 1.5rem;
                margin-bottom: 2rem;
                padding: 1rem;
                line-height: 1.5;
            }
            a{
                font-size: 1.3rem;
                color: $black;
                border: 2px solid $blue;
                padding: 0.5rem;
                padding-left: 2rem;
                padding-right: 2rem;
                border-radius: 3rem;
                transition: 0.5s ease;
                

                &:hover{
                    background-color: $blue;
                    color: $white;
                    transform: scale(1.5);
                }
            }
        }
    }
}


// about
.about{
    background: $light-bg;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .image{
        flex: 1 1 42rem;
        padding-right: 5rem;
        padding-bottom: 2rem;

        img{
            width: 70%;
            box-shadow: 2rem 2rem 0 rgba(0,0,0,.1);
            height: 38rem;
        }
    }

    .content{
        flex: 1 1 42rem;

        h3{
            color: $blue;
            text-align: center;
            font-size: 4rem;
            padding-bottom: 5rem;
        }

        p{
            font-size: 1.5rem;
            color: $black;
            padding: 1rem 0;
        }
    }
}


// services ===================================
.services{
    background: $blue;

    .heading{
        color: $white
    }

    .box-container{
        @include grid(25rem);

        .box{
            text-align:center;
            padding: 2rem;
            border: $border;
            border-radius: .5rem;
            background: rgb(255, 254, 254);
            height: 30rem;
            cursor: pointer;

            
        
            img{
                height: 8rem;
                margin-bottom: 1rem;
                // filter: invert(1);
            }

            h3{
                font-size: 3rem;
                color: $blue;
            }

            p{
                font-size: 1.5rem;
                color: $black;
                padding: 1rem 0;
                line-height: 1.7rem;
            }
        }
    }
}


// blogs ==============================
.blogs{
    background-color: $white;

    .swiper-slide{
        text-align: center;
        // width: 35rem;
        padding: 2rem;
        height: 50rem;

        img{
            height: 25rem;
            width: 100%;
            object-fit: cover;
            border-radius: .5rem;
        }

        h3{
            font-size: 2.4rem;
            color: $blue;
        }

        p{
            font-size: 1.4rem;
            padding: 1rem 0;
            // line-height: 2;
            color: $black;
        }
    }
}


// newsletter ==============================================
.newsletter{
    background-color: $light-bg;

    .content{
        max-width: 70rem;
        margin: 1rem auto;
        text-align: center;

        form{
            margin-top: 2rem;
            background-color: $white;
            border-radius: 5rem;
            border: $border;
            padding: .7rem;
            display: flex;

            .email{
                width: 100%;
                background: none;
                text-transform: none;
                font-size: 1.5rem;
                color: $black;
                padding: 0 0.8rem;
            }

            .btnForm{
                // margin-top: 1rem;
                display: inline-block;
                border: 2px solid $black;
                color: $white;
                cursor: pointer;
                background-color: $black;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 1rem 2rem;
                border-radius: 5rem;
                
                &:hover{
                    background-color: $blue;
                    color: $white;
                    border: 2px solid $white;
                
                }
            }
        }
    }
}



// Footer ======================================
.footer{
    background-color: $white;

    .box-container{

        .box-redes{
            text-align: center;
            margin-bottom: -3rem;
            h3{
                color: $black;
                font-size: 4rem;
                margin-top: -2rem;
                text-align: center;
            }
            
            img{
                // margin: 2rem 0 0 3rem;
                padding: 2rem;
                width: 8rem;
                transition: 1.0s ease;

                &:hover{
                    transform: scale(1.5);
                }
            }
        }
        
        
    }


}


.credit{
    background-color: $black;
    text-align: center;
    font-size: 1.5rem;
    color: #aaa;
    padding: 2rem;

    .ubicacion{
        color: $light-bg;
    }

    span, a{
        color: $blue;
        cursor: pointer;
        padding: 1rem 0;

        &:hover{
            color: $white;
        }
    }
}















// media queries
@media(max-width:1200px){

    .header{
        padding: 2rem;
    }

    section{
        padding: 3rem 2rem;
    }

}

@media(max-width:991px){

    html{
        font-size: 55%;
        scroll-padding-top: 7rem;
    }

    .header{
        font-size: 55%;
    }

    .home .box{
        // padding: 2rem;
        min-height: 80vh;
        justify-content: center;
        background-position: left !important;

        &.second{
            justify-content: center;
            background-position: left !important;
        }

        .content{
            text-align: center;
            background-color: none;

            span{
                font-size: 3rem;
                // padding: ;
            }

            h3{
                font-size: 4rem;
            }
        }
    }

    .about{
        .image{
            display: none;
        }
    }

}

@media(max-width:788px){

    .header{

        .logo{
            img{
                width: 6.5rem;
            }
        }

        #menu-btn{
            display: inline-block;
        }

        .navbar{
            position: fixed;
            top: 0;
            left: -110%;
            background-color: $white;
            z-index: 10000;
            width: 40rem;
            height: 100%;
           /*  display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center; */
            // transform: translateX(-);
            ul{
                margin-top: 5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li{
                    align-items: center;
                    padding-bottom: 5rem;
            
                }
                
            
            }

            &.active{
                left: 0;
                box-shadow: 0 0 0 100vw rgba(0,0,0,.4);
            }

            a{
                margin: 2rem 0;
                font-size: 2rem;
                color: #10221b;
            }

            #nav-close{
                display: block;
                position: absolute;
                top: 3rem;
                color: $black;
                padding: 1rem;
                font-size: 5rem;

            }
        }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after{
        display: none;
    }

    .header .navbar .bi{
        margin-top: -2rem;
    }

}

@media(max-width:450px){

    .header{
        font-size: 50%;
    }

    .home .box .content{
        padding: 0;
        margin: 12rem 0 2rem 0;
    }
    
    .header .navbar .bi{
        margin-top: -2rem;
    }

    .header .icons{
        display: flex;
    }

}







